<!-- First level menu -->
<li [ngClass]="{'menuItem.class':!isActive,'elementFocus':isActive}" [routerLinkActive]="menuItem.submenu.length != 0 ? '' : 'active'"
                [routerLinkActiveOptions]="">
    <a [routerLink]="menuItem.class === '' ? [menuItem.path] : null" *ngIf="!menuItem.isExternalLink; else externalLinkBlock">
        <i [ngClass]="[menuItem.icon]"></i>
        <span class="menu-title">{{menuItem.title | translate }}</span>
        <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
    </a>
    <ng-template #externalLinkBlock>
        <a [href]="[menuItem.path]" target="_blank">
            <i [ngClass]="[menuItem.icon]"></i>
            <span class="menu-title">{{menuItem.title | translate }}</span>
            <span *ngIf="menuItem.badge != '' " [ngClass]="[menuItem.badgeClass]">{{menuItem.badge}}</span>
        </a>
    </ng-template>
</li>
